.conteudo{
   
   
}

.conteudo__titulo{
    background-color: var(--cor2);
    letter-spacing: 4.8px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.conteudo__card{
    background-color: var(--cor1);
    display: flex;
    margin: 5%; 
    padding: 0.5rem 0;  
    width: 90%;
    
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.conteudo__card__lado-esquerdo{
    display: flex;
    flex-direction: column;
    margin: 5%;

    
}

.conteudo__card__lado-esquerdo__titulo{
    font-weight: 700;
    font-size: 1.12rem;
}

.conteudo__card__texto{
    margin: 8px 0;
}
.conteudo__card__imagens{
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.conteudo__card__lado-direito{
    margin-right: 1.12rem;
}

.conteudo__card__lado-direito__botao{
    display: flex;
    background-color: var(--cor3); 
    border-bottom: 8px solid var(--cor4);
    height: 3rem;
    margin-top: 0.5rem;
    justify-content: center;
    align-items: center;    
}

.conteudo__card__lado-direito__linke{
    text-decoration: none;
    color: var(--cor1);
}

.conteudo__texto{
    text-align: center;
}

.conteudo__carrosel{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.18rem;
}

.conteudo__carrosel__imagem{
    width: auto;
}