header {
   text-align: center;
}

nav{
    background-color: var(--cor1);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.466);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1, p{
    margin: 2.18rem 0;
}

h1{
    font-weight: 700;
    font-size: 1.12rem;
}

p{
   letter-spacing: 3px;
}