.rodape{ 
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: var(--cor1);
    height: 6.9rem;
    gap: 14px;
    position: relative;
    width: 100%;
    
}

.rodape__imagem{
    position: absolute;
    bottom: 100%;
    width: 100%;
  
}

.rodape__texto{
    margin: 0;
    letter-spacing: normal;
    
}
